.card{
    width: 30rem;
    max-width: 90%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    padding: 3rem;
    z-index: 100;
    position:relative;
    background-color:rgb(254, 254, 254);
}